*

!.gitignore
!.github/
!.github/**
!README.md
!mkdocs.yml

!docs/
!docs/*.md

!docs/assets/
!docs/assets/**

!docs/blog/
!docs/blog/index.md
!docs/blog/posts/
!docs/blog/posts/*.md

!docs/css/
!docs/css/*.css

!docs/school_archive/
!docs/school_archive/**
